<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href='https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css' rel='stylesheet'>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
  <div id="main">
    <div class="left">
      <a href="/">
        <i class="ri-home-fill"></i>
        <p>Home</p>
      </a>
      <div class="search">
        <input type="text" placeholder="What do you want to listen to?">
        <i class="ri-search-fill"></i>
      </div>
      <a href="/likedMusic">
        <i class="ri-heart-line"></i>
        <p>Liked Music</p>
      </a>
      <a class="lst-left" href="/logout">
        <i class="ri-logout-box-line"></i>
        <p>logout</p>
      </a>
    </div>
    <div class="right">
      <div class="musics">
        <% currentUser.playlist[0].songs.forEach(function(song){ %>
          <div class="song">
            <div class="image">
              <img src="/poster/<%= song.poster %>" alt="">
              <div class="playButton" onclick="songCardClick('<%= song.fileName %>')">
                <i class="ri-play-circle-fill"></i>
              </div>
            </div>
            <div class="text">
              <h5>
                <%= song.title %>
              </h5>
              <p>
                <%= song.artist %>
              </p>
              <p>
                <%= song.album %>
              </p>
            </div>
            <a href="/likeMusic/<%= song._id %>">
              <p>
                <%= song.likes.indexOf(currentUser.id)===-1 ? "Like" : "Unlike" %>
              </p>
            </a>
          </div>
          <% }) %>
      </div>
      <div class="right2">
        <h4 class="songName"></h4>
        <audio src="" controls></audio>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"
    integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    document.querySelector('.left .search i').addEventListener('click', function () {
      searchSong();
    })

    async function searchSong() {
      const result = await axios.post('/search', {
        search: document.querySelector('.left .search input').value
      })
      let clutter = ''
      result.data.songs.forEach(song => {
        clutter += ` <div class="song" onclick="songCardClick('${song.fileName}')">
          <img src="/poster/${song.poster}" alt="">
          <div class="text">
            <h5>${song.title}</h5>
            <p> ${song.artist}</p>
            <p> ${song.album}</p>
          </div>
          <div class="playButton">
            <i class="ri-play-circle-fill"></i>
          </div>
        </div>`
      });
      document.querySelector('.musics').innerHTML = clutter
    }


    async function songCardClick(fileName) {
      await axios.get(`/SongName/${fileName}`)
        .then(function (songName) {
          document.querySelector('.songName').innerHTML = songName.data.title
        })
      document.querySelector('audio').setAttribute('src', `/stream/${fileName}`)
      document.querySelector('audio').play()
    }

  </script>
</body>

</html>