<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href='https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css' rel='stylesheet'>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <div id="main">
    <div class="left">
      <a href="#">
        <img
          src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" alt="Logo" />
      </a>
      <a href="/">
        <i class="ri-home-fill"></i>
        <p class="left-text">Home</p>
      </a>
      <div class="search">
        <i class="ri-search-fill"></i>
        <input class="left-text" type="text" placeholder="Search">
      </div>
      <a href="/likedMusic">
        <i class="ri-heart-line"></i>
        <p class="left-text">Liked Music</p>
      </a>
      <a class="playlist">
        <div class="playlist">
          <i class="ri-play-list-line"></i>
          <p class="left-text">PlayList</p>
        </div>
      </a>
      <div class="newplaylist">
        <form action="/createplaylist" id="playlistform" method="post">
          <input name="playlistName" type="text" placeholder="Add PlayList">
        </form>
          <div class="text">
            <h5>
              <a href="/PlayList/<%= foundPlayList._id %>"><%= foundPlayList.name %></a>
            </h5>
          </div>
      </div>
      <a class="lst-left" href="/logout">
        <i class="ri-logout-box-line"></i>
        <p class="left-text">logout</p>
      </a>
    </div>
    <div class="right">
      <div class="musics">
        <% foundPlayList.songs.forEach(function(song){ %>
          <div class="song">
            <div class="image">
              <img src="/poster/<%= song.poster %>" alt="">
              <div class="playButton" onclick="songCardClick('<%= song.fileName %>')">
                <i class="ri-play-circle-fill"></i>
              </div>
            </div>
            <div class="text">
              <h5>
                <%= song.title %>
              </h5>
              <p>
                <%= song.artist %>
              </p>
              <p>
                <%= song.album %>
              </p>
              
              <% if( userdata.username=== foundPlayList.name) { %>
                <% }else { %>
                    <a class="removesong" href="/removesong/<%= foundPlayList._id %>/<%= song._id %>">
                        Remove
                      </a>
                  <% } %>
            </div>
          </div>
          <% }) %>
      </div>
      <div class="right2">
        <h4 class="songName"></h4>
        <audio src="" controls></audio>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"
    integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    document.querySelector('.left .search i').addEventListener('click', function () {
      searchSong();
    })

    async function searchSong() {
      const result = await axios.post('/search', {
        search: document.querySelector('.left .search input').value
      })
      let clutter = ''
      result.data.songs.forEach(song => {
        clutter += ` <div class="song" onclick="songCardClick('${song.fileName}')">
          <img src="/poster/${song.poster}" alt="">
          <div class="text">
            <h5>${song.title}</h5>
            <p> ${song.artist}</p>
            <p> ${song.album}</p>
          </div>
          <div class="playButton">
            <i class="ri-play-circle-fill"></i>
          </div>
        </div>`
      });
      document.querySelector('.musics').innerHTML = clutter
    }


    async function songCardClick(fileName) {
      await axios.get(`/SongName/${fileName}`)
        .then(function (songName) {
          document.querySelector('.songName').innerHTML = songName.data.title
        })
      document.querySelector('audio').setAttribute('src', `/stream/${fileName}`)
      document.querySelector('audio').play()
    }

    var flag1 = true;
    document.querySelector("#add").addEventListener('click', function () {
      if (flag1) {
        document.querySelector("#playlistform").style.display = "block";
        flag1 = false;
      }
      else {
        document.querySelector("#playlistform").style.display = "none";
        flag1 = true;
      }
    });

  </script>
</body>

</html>